{{setPageTitle "Power Of Nature | Search Page"}}
<section class="event-search">
            <h1 id="title">Search</h1>

            <form class="search-form" method="">
                <input type="text" class="search-event" name="name" value="{{filter.name}}" placeholder="Search by Name...">
                <select id="type" name="type">
                    {{#each disasterTypes}}
                        <option value="{{value}}" {{selected}}>{{label}}</option>
                    {{/each}}
                </select>
                <button type="submit" class="btn-search">Search</button>
            </form>

            <div class="search-result">
            {{#if disasters}}
                <div class="search-list">
                    {{#each disasters}}
                    {{>disaster}}
                    {{/each}}
                </div>
            {{else}}
                    <div class="no-match">
                    <p>No match was found!</p>
                    </div>
            {{/if}}
            </div>            
</section>